# Python-related
__pycache__/
*.pyc

# Environment files
.env

# Virtual environments
venv/

# Streamlit-related
.streamlit/

# Service account keys (should never be committed)
*.json

# Mac system files
.DS_Store

# Cache and output files
static/cache/
static/output/

# Logs and temporary files
*.log
*.tmp

# Large assets
static/assets/

# Development and documentation
/tests/
/docs/