# Python-related
__pycache__/
*.pyc

# Environment
.env
*.env

# Virtual environments
venv/

# Streamlit-related
.streamlit/

# Service account keys (should never be committed)
*.json

# Ignore Mac system files
.DS_Store

# Ignore cache files
static/cache/
static/output/
