@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
/* Define colors and fonts */
:root {
    --background: #21232F;
    --main: #f4e3b2;
    --header: #d38638;
    --element-background: #2d3143;
    --element-placeholder: #5D605E;
    --element-main: white;

    /* Font families */
    --font-primary: 'Comfortaa', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}

/* CSS reset */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-primary);
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--background);
    cursor: default;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

main {
    will-change: transform;
    transition: transform 0.5s;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sidebar {
    position: absolute;
    background-color: var(--element-background);
    right: -15em;
    color: var(--element-main);
    height: 100%;
    width: 15em;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sidebar div {
    position: fixed;
    width: 100%;
    height: 3em;
    background-color: var(--header);
}

#sidebar ul {
    list-style: none;
    text-align: right;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
}

#sidebar li {
    padding: 1em 1em 0 0;
}

#sidebar li:first-child {
    padding-top: 5em;
}

#sidebar li:last-child {
    padding-bottom: 3em;
}

#sidebar li a {
    text-decoration: none;
    color: var(--element-main);
    cursor: pointer;
}

#sidebar .checked:before {
    content: '';
    display: inline-block;
    width: 0.3em;
    height: 0.6em;
    border: solid var(--element-placeholder);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 0 0.7em 0.1em;
}

/* Customize Sidebar Toggle */
#sidebar-toggle {
    color: var(--element-main);
    position: fixed;
    bottom: 20px; /* Position at the bottom */
    right: 20px; /* Offset from the right */
    padding: 10px 20px; /* Add padding for better click area */
    background-color: var(--element-background);
    border: 1px solid var(--header);
    border-radius: 8px;
    opacity: 0.7;
    transition: opacity 0.5s, transform 0.3s ease;
    z-index: 1;
    font-family: var(--font-primary);
    font-size: 1rem;
}

#sidebar-toggle:hover,
#sidebar-toggle:focus-within,
#sidebar-toggle.open {
    opacity: 1;
    transform: scale(1.05);
}

#sidebar-toggle span {
    display: block;
    width: 1em;
    height: 3px;
    background-color: var(--element-main);
    margin: 1em 0.5em;
}

#sidebar-toggle span::before,
#sidebar-toggle span::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--element-main);
    width: 1em;
    height: 3px;
    transition: all 0.3s;
}

#sidebar-toggle span::before {
    transform: translateY(-0.33em);
}

#sidebar-toggle span::after {
    transform: translateY(0.33em);
}

#sidebar-toggle.open span {
    background-color: transparent;
}

#sidebar-toggle.open span::before {
    transform: rotate(45deg);
}

#sidebar-toggle.open span::after {
    transform: rotate(-45deg);
}

#sidebar table {
    display: inline-block;
}

tr:last-child {
    height: 3em;
    vertical-align: bottom;
}

input {
    font-size: 21px;
    background-color: var(--element-background);
    border: 1px solid var(--element-placeholder);
    color: var(--element-main);
    outline: none;
    padding: 0.33em;
}

input:focus {
    outline: 1px solid var(--main);
}

input[type='text'] {
    width: 5em;
}

input[type='number'] {
    width: 2em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#circle circle {
    fill: var(--header);
}

#circle {
    display: inline-block;
    width: 50vh;
    height: 50vh;
    margin-top: 10vh;
    will-change: transform;
    transform: scale(0.25);
    transition: all 4.0s ease-in-out;
}

#text {
    color: var(--main);
    font-family: var(--font-primary);
    margin-top: 0; /* Removed top margin */
    text-align: center; /* Ensure text is centered */
    font-size: 2rem; /* Adjust font size as needed */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Optional for added effect */
}

@media screen and (max-width: 600px) {
    #circle {
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (orientation: portrait) {
    #circle {
        margin-top: 20vh;
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (orientation: landscape) {
    #circle {
        width: 50vh;
        height: 50vh;
    }
}
