/* General Styles */
body {
    background-color: #21232F;
    font-family: 'Comfortaa', sans-serif;
    color: #f4e3b2;
}

.container-fluid.dashboard-container {
    background-color: var(--background);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Header and Titles */
.dashboard-title {
    font-size: 2.5rem;
    color: var(--main);
    margin-bottom: 30px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.section-title {
    font-size: 1.8rem;
    color: #d38638;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Heatmap Styles */
.heatmap-container {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heatmap-day {
    width: 15px;
    height: 15px;
    margin: 2px;
    border-radius: 3px;
    transition: transform 0.2s;
}

.heatmap-day.practiced {
    background-color: #d38638;
}

.heatmap-day.not-practiced {
    background-color: #5D605E;
}

.heatmap-day:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Card Styles */
.card-header {
    background-color: var(--header);
    color: var(--background);
    font-weight: bold;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

.card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 30px;
    background: var(--element-background);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Achievements and Notifications */
.badge-success {
    background-color: #d38638;
    color: #21232F;
}

.list-group-item {
    background-color: var(--element-background);
    color: var(--main);
    border: none;
    border-bottom: 1px solid #5D605E;
    padding: 15px;
}

.list-group-item:hover {
    background-color: #2d3143;
}

/* Buttons */
.listen-again-button {
    color: #d38638;
    border-color: #d38638;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.listen-again-button:hover {
    background-color: #d38638;
    color: var(--background);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .heatmap-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .dashboard-title {
        font-size: 1.8rem;
    }

    .section-title {
        font-size: 1.5rem;
    }
}
