<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Breathe In{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.gif') }}" type="image/gif">
<!-- Favicon -->
<link rel="icon" type="image/gif" href="{{ url_for('static', filename='images/favicon.gif') }}">
</head>
<body>
    <header>
        <!-- Hamburger Menu -->
        <div class="hamburger-menu">
            <div class="menu-icon" id="menu-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <nav id="menu-content" class="hidden">
                <ul>
                    <li><a href="#">team & culture</a></li>
                    <li><a href="#">revenue ideas</a></li>
                    <li><a href="#">design principles</a></li>
                    <li><a href="#">wish list</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="#">legal</a></li>
                </ul>
                <div class="close-menu" id="close-menu">✕</div>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
   
    <div id="error-modal" class="modal hidden">
        <div class="modal-content">
            <p id="modal-message"></p>
            <button id="modal-close" class="modal-close-button">OK</button>
        </div>
    </div>
    </main>


    <footer>
        <!-- Optional: Add a footer here -->
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Modal Structure -->


</body>
</html>
