{% extends 'base.html' %}

{% block content %}
<!-- Intro Section -->
<div id="intro-section" class="fullscreen">
    <img src="{{ url_for('static', filename='images/intro.gif') }}" alt="breathin" class="centered-svg">
</div>

<!-- Landing Page Content -->
<div id="landing-page" class="hidden">
    <div class="content">
        <img src="{{ url_for('static', filename='images/logo.gif') }}" alt="Logo" class="logo-img">
        <p class="intro-text">Hi, I can create a 5 minute guided meditation based on your feelings right now</p>
        <a href="#" id="start-button" class="cta-button">Sounds good</a>
    </div>
</div>

<!-- xInput Page Content -->
<div id="input-page" class="hidden">
    <div class="content">
        <!-- Logo Image -->
        <img src="{{ url_for('static', filename='images/logo.gif') }}" alt="Logo" class="logo-img">

        <form id="input-form" action="{{ url_for('prepare_meditation') }}" method="POST">
            <textarea id="user-input" name="user_input" class="user-input" placeholder="Type your thoughts here..."></textarea>
            <button type="submit" class="cta-button" id="submit-button">Start meditation</button>
        </form>
        
        <div class="terms-link">
            <p>By clicking Start meditation, you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</p>
        </div>
    </div>
</div>

{% endblock %}

{% block styles %}
<style>
    .hidden {
        display: none;
    }

    .fullscreen {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
</style>
{% endblock %}
