{% extends "layout.html" %}

{% block title %}Generate Meditation{% endblock %}

{% block content %}
<h1 class="text-center">breatheasy</h1>
<form method="POST" action="{{ url_for('index') }}">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="locale">Select language:</label>
            <select id="locale" name="locale" class="form-control">
                {% for key, value in languages.items() %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="
