{% extends 'base.html' %}

{% block title %}breathe in{% endblock %}

{% block content %}
  <!-- Meditation Preparation Content -->
  <div id="meditation-prep-page" class="content-center">
    <img src="{{ url_for('static', filename='images/logo.gif') }}" alt="Logo" class="logo-img">
    <p class="meditation-prep-text">Alright. Get comfy and make sure your sound's on.</p>
    <form action="{{ url_for('prepare_meditation') }}" method="POST">
        <textarea id="user-input" name="user_input" class="user-input" placeholder="Type your thoughts here..."></textarea>
        <button type="submit" class="cta-button">Start Meditation</button>
    </form>
    <div class="terms-link">
        <p>By clicking Start meditation, you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</p>
    </div>
</div>
{% endblock %}
