{% extends "base.html" %}

{% block content %}
<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="form-container text-center">
        <h4 class="form-title mb-4">Register a New Account</h4>
        <form class="needs-validation registration-form" method="POST" action="{{ url_for('register') }}">
            
            <!-- First name field -->
            <div class="form-group">
                <label for="first_name">First Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="first_name" name="first_name" minlength="2" maxlength="50" pattern="[A-Za-z-]+" required>
            </div>

            <!-- Last name field -->
            <div class="form-group">
                <label for="last_name">Last Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="last_name" name="last_name" minlength="2" maxlength="50" pattern="[A-Za-z-]+" required>
            </div>

            <!-- Phone number field -->
            <div class="form-group">
                <label for="phone_number">Mobile Number<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="phone_number" name="phone_number" minlength="9" maxlength="10" pattern="[0-9]+" required>
            </div>

            <!-- Email field -->
            <div class="form-group">
                <label for="email">Email<span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="email" name="email" minlength="6" maxlength="100" required>
                <div class="invalid-feedback" id="email-invalid-feedback"></div>
            </div>

            <!-- Street number & name field -->
            <div class="form-group">
                <label for="street_number_name">Street Number & Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="street_number_name" name="street_number_name" minlength="5" maxlength="100" required>
            </div>

            <!-- Date of birth field -->
            <div class="form-group">
                <label for="date_of_birth">Date of Birth<span class="text-danger">*</span></label>
                <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required value="2005-10-01">
            </div>

            <!-- Password field -->
            <div class="form-group">
                <label for="new_password">Password<span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="new_password" name="new_password" minlength="5" maxlength="20" required>
                <div class="invalid-feedback" id="password-feedback"></div>
            </div>

            <!-- Confirm Password field -->
            <div class="form-group">
                <label for="new_password_confirm">Confirm Password<span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm" minlength="5" maxlength="20" required>
                <div class="invalid-feedback" id="confirm_password_feedback"></div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block" id="submit-btn" disabled>Register</button>
        </form>
    </div>
</div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}
